@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Sedgwick+Ave+Display&display=swap');
@font-face {
    font-family: idroid;
    src: url(fonte/idroid.otf);
    font-weight: normal;
    font-style: normal;
}

:root{
--cor1: #84E1AD;
--cor2: #457A5D;
--cor3: #30AC67;
--cor4: #1A5C38;
--cor5: #144F2C;
--fontea: 'Permanent Marker', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #84E1AD;
}

p{
    margin: 15px 0px;
}



header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    text-align: center;
    color: white;
    padding-top: 40px;
}

header > h1{
    font-family: var(--fontea);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.493);
}

header > p{
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.493);
}

header > nav{
    text-align: left; 
    padding: 10px;
}

nav > a{
    text-decoration: none;
    color: white;
    padding: 10px;
    transition-duration: 1;
}

nav > a:hover{
    text-decoration: underline;
    background-color: var(--cor3);
    color: var(--cor5);
}

main{
    background-color: white;
    margin: auto;
    text-align: justify;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main > h1,h2,h3{
    color: #457A5D;
    font-family: idroid;
}

main p{
    text-indent: 30px;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
}

main a{
    color: var(--cor5);
    font-weight: bolder
}

main a:hover{
    text-decoration: underline;
    color: var(--cor2);
}

a.externo{
    content: '🔗';
}

main img{
    width: 100%;
}

#droide{
    max-width: 350px;
    display: block;
    margin: auto;
}

section#vid{
    background-color: #1A5C38;
    margin: 0px 2px 30px -20px;
    margin-bottom: 30px;
    padding-bottom: 59%;
    position: relative;
}

section#vid > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

h3#final{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #144F2C;
    color: white;
    height: auto;
    margin: -6px 4px 0px 3px;
    padding: 8px;
    border-radius: 10px 10px 0px 0px;
}

section#roda{
background-color: #69B88B;
}

spam{
color: #1A5C38;
}

ul{
    list-style-type: '\2714';
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: #1A5C38;
    text-align: center;
    color: white;
}

